.section {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.section__interface {
  margin-top: 16px;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 2px solid whitesmoke;
}

@media (max-width: 767px) {
  .section__interface {
    display: flex;
    flex-direction: column;
  }
}
