.tasks {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.tasks__interface {
  margin-top: 16px;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 2px solid whitesmoke;
}

@media (max-width: 767px) {
  .tasks__interface {
    display: flex;
    flex-direction: column;
  }
}

.tasks__list {
  padding: 8px 16px;
  list-style: none;
}

.tasks__button {
  margin: 0 8px;
  width: 30px;
  height: 30px;
  background-color: green;
  color: white;
  border: none;
  transition: 1s;
  cursor: pointer;
}

.tasks__button:hover {
  background-color: hsl(120, 100%, 35%);
}

.tasks__button--remove {
  background-color: red;
}

.tasks__button--remove:hover {
  background-color: hsl(0, 100%, 65%);
}

.tasks__listItem {
  padding: 8px 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 8px;
  align-items: center;
  border-bottom: 2px solid whitesmoke;
}

.tasks__listItem--hidden {
  display: none;
}

.tasks__listItemText--done {
  text-decoration: line-through;
}
